.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 14vw;
  top: 0;
  background: #fff;
  z-index: 1;
}

.user {
  width: 8vw;
  height: 8vw;
  background: url(../../img/user-4.svg);
  background-size: 100% 100%;
  margin-left: 4vw;
}

.switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
}

.switchItem {
  color: #888;
  padding: 1vw 0 1vw 0;
}

.switchItem.on {
  color: #000;
  border-bottom: 1px solid #888;
}

.search {
  width: 6vw;
  height: 6vw;
  background: url(../../img/iconfont-seacher.svg);
  background-size: 100% 100%;
  margin-right: 5vw;
}

.list {
  align-items: center;
  float: left;
  margin: 2vw 0;
  display: flex;
  width: 94%;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 1px solid #bbb;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 14vw;
  width: 100%;
  position: fixed;
  height: 100vh;
}

.list:last-child {
  border-bottom: 0;
}

.cover {
  display: flex;
  width: 30vw;
  height: 42vw;
  margin-bottom: 4vw;
  flex-shrink: 0
}

.nr {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  padding-left: 4vw;
}

.title {
  font-weight: 700;
  font-size: 0.96em;
}

.author {
  font-size: 0.94em;
}

.shortIntro {
  font-size: 0.9em;
  margin-bottom: 4vw;
}

.container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  overflow: auto;
}

.side {
  display: flex;
  flex-direction: column;
  width: 24vw;
  position: fixed;
  top: 14vw;
}

.sideItem {
  background: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vw;
}

.sideItem.on {
  background: #fff;
}

.main {
  width: 76%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.tableBody {
  width: 100vw;
  position: relative;
  top: 14vw;
  display: flex;
}

.scroll {
  transform: translateX(0);
}

.myItem {
  width: 100vw;
  position: absolute;
}

.myDesk {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myCate {
  left: 100vw;
}
